---
import Layout from "../../../layouts/Layout.astro";
import BlogCard from "../../../components/BlogCard.astro";
import Pagination from "../../../components/Pagination.astro";
import { getBlogs } from "../../../lib/microcms";

export async function getStaticPaths() {
  const { totalCount } = await getBlogs({ limit: 1 });
  const PER_PAGE = 12;
  const pages = Math.ceil(totalCount / PER_PAGE);

  return Array.from({ length: pages }).map((_, i) => ({
    params: { page: (i + 1).toString() },
    props: {
      currentPage: i + 1,
      totalPages: pages,
      perPage: PER_PAGE,
    },
  }));
}

const { currentPage, totalPages, perPage } = Astro.props;
const { contents: blogs } = await getBlogs({
  fields: ["id", "title", "publishedAt", "emoji", "category", "tags"],
  orders: "-publishedAt",
  limit: perPage,
  offset: (currentPage - 1) * perPage,
});
---

<Layout title={`Mitts Blog - Page ${currentPage}`}>
  <section>
    <h1 class="text-3xl font-bold mb-6">Articles</h1>
    <div class="grid grid-cols-1 gap-4">
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </div>

    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      basePath="/blog/page"
    />
  </section>
</Layout>
